.styles{
    margin: 1px 0px;
    height: 38px;
    width: 300px;
    border-radius: 10px;

}

.labels{
    font-size: 17px;
}
textarea{
    width: 40%;
    margin: 5px 0px;
    padding: 7px;
    font-size: 16px;
    border: 2px solid rgb(41, 49, 49);
    border-radius: 10px;
    outline: none;
    display: block;
}
input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
}
input[type=radio]:checked + label::before {
    background-color: rgb(13 166 253);
}
.radio + label::before {
    width: 1em;
    height: 1em;
}
button{
    color: white;
    background-color: rgb(10, 149, 192);
    padding: 10px 12px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;

}
.button{
    color: white;
    background-color: rgb(10, 149, 192);
    /* padding: 10px 10px; */
    width: 150px;
    font-size:15px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
